:root {
  --blue: #001524;
  --turquoise: #15616d;
  --white: #fdfffc;
  --red: #c1292e;
  --yellow: #e3b23c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Barlow Light';
  src: url('/fonts/Barlow-Light.ttf') format(truetype);
}
