div.header.sticky  
  h1.header--title Quest of the Llama
  ul.header--link-container 
    if user
      li.heading--bullet=user.username
    li.heading--bullet
      a.heading--link(href="/") Home
    li.heading--bullet
      a.heading--link(href='/posts') Posts
    li.heading--bullet
      a.heading--link(href='/about') About
    li.heading--bullet
      a.heading--link(href='/contact') Contact
    if !user
      li.heading--bullet
        a.heading--link#login(href='/login') Login
      li.heading--bullet
        a.heading--link#signup(href='/signup') Signup
    else
      li.heading--bullet
        a.heading--link#logout(href='/') Logout

