div.header.sticky
  h1.header--title Quest of the Llama
  ul.header--link-container 
    li.heading--bullet
      a.heading--link(href="/") Home
    li.heading--bullet
      a.heading--link(href='/all') Posts
    li.heading--bullet
      a.heading--link(href='/about') About
    li.heading--bullet
      a.heading--link(href='/contact') Contact
    li.heading--bullet
      a.heading--link(href='/login') Login

