extends base
block content
  main.content-main
    h1.main-title About
    div.body-text 
      span Hey! This is my blog. I'm Usama Aqeel. I am a Full Stack Developer and Theoretical Physicist. I have previously studied Theoretical Physics at the University of Nottingham and Imperial College London. I am currently working on several projects, including a numerical methods project for Undergraduate Physicists called 
      a(href ="https://github.com/usama-bit137/NUMERUS") NUMERUS
      span . The notes are written in Python and Jupyter Notebook is utilised as a tool to explain and show code. I am very excited to introduce this resource, since I am very passionate about teaching numerical methods. I believe they they are important to learn early in the career of every Theoretical Physicist.