extends base
block content
  //- conditional rendering to show add button for
  //- only admins. New post route protected
  if user.role ==='admin'
    button
      a.new-link(href="/posts/new")
        img#new-link--icon(src="/icons/new.png" width="30px")
  .all-blogs
    each post in posts
      .blog--container
        h1.blog--title: a(href=`/posts/${post.slug}`)= post.title
        p.blog--preview= post.bodyText.split(' ').slice(0, 50).join(' ')
        div.grid-container
          div.likes
            img.heart(src="/icons/heart-inactive.png" width="20px" alt="You liked this post!")
          div.comment
            img.comment-img(src='/icons/comment.png' width="20px")
            p.comment-count=post.comments.length
          div.date
            img.date-img(src='/icons/posted.png' width="20px")
            p.date-posted=post.creationDate.toLocaleDateString()
  
