extends base
block content
  if user
    if user.role === 'admin'
      button
        a.new-link(href="/posts/new") New Post
  .all-blogs
    each post in posts
      .blog--container
        a.blog--title(href=`/posts/${post.slug}`)= post.title
        p.blog--preview= post.bodyText.split(' ').slice(0, 50).join(' ')
        div.date
          img.date--img(width="20px" src="/icons/time.png" )
          p.date-posted=post.creationDate.toLocaleDateString()
  
