extends base
block content
  main.content-main

    h1.main-title=post.title
    .post
      !=post.bodyText

    .comment-section 
      h2.comments-title Comments 
      ul.comments
        each comment in post.comments
          li
            p.author= comment.username
            span.comment= comment.comment
    //- if user
    //-   form#send--comment
    //-     input#user(type='text' required)= user.username
    //-     input#comment-text(type="text" required)
    //-     button#submit comment
