extends base 
block content
  main.content-main

    h1.main-title Contact
    p Here are few points of contact for me if you wanna get in touch. Don't worry, most of them are fake.
    table.table
      tr
        th: img(src="/icons/email.svg" width="15px")
        th: p Email
        th: p usama@admin.com
      tr
        th: img(src="/icons/phone.svg" width="15px")
        th: p Phone
        th: p 0900703942
      tr
        th: img(src="/icons/github.svg" width="15px")
        th: p GitHub
        th: a(href="github.com/usama-bit137") My GitHub Homepage


