extends base
block content
  form.login--form
    h1.login--heading Log in
    input(type='email' placeholder="Email" name="email")
    input(type='password' placeholder="Password" name="password")
    button#submit Log in