extends base
block content
  form.login--form
    h1.login--heading Log in
    input#email(type='email'  placeholder="Email" name="email" required)
    input#password(type='password' placeholder="Password" name="password" required)
    button#submit Log in