extends base
block content
  form.new-post--form
    h1.new-post--heading New Post
    input#title(type='text' placeholder="Title" name="title")
    textarea#bodyText(type='text' placeholder="Text Content" name="bodyText")
    button#submit-post Create