extends base
block content
  form.login--form
    h1.login--heading New Post
    input(type='text' placeholder="Title" name="title")
    textarea(type='text' placeholder="Text Content" name="bodyText")
    button#submit Create