body {
  background-color: var(--greyest);
}

.blog--container {
  background-color: var(--greyer);
  margin: 20px auto;
  padding: 30px;
  width: 70%;
  border-bottom: 1px solid var(--red);
  position: relative;
}

.blog--title {
  font-family: 'Taviraj Bold';
  color: var(--black);
  font-style: italic;
  font-weight: bolder;
  font-size: 2rem;
}

.blog--preview {
  text-decoration: none;
  color: var(--grayish);
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.date {
  display: flex;
  color: var(--blue);
  position: absolute;
  right: 0%;
}

.date--img {
  margin: auto 5px;
}
