.header {
  text-align: right;
  background-image: linear-gradient(
    to top left,
    var(--grey),
    var(--greyer),
    var(--greyest)
  );
  font-family: 'Albert Sans', sans-serif;
  position: relative;
  top: 0;
}

.header--name {
  color: var(--black);
}

.header--title {
  color: var(--black);
  padding: 20px;
}

.header--link-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 8px 0px;
  background-color: var(--grey);
}

.heading--bullet {
  list-style-type: none;
}

.heading--link {
  text-decoration: none;
  color: var(--black);
  border-radius: 4px;
  padding: 2px 4px;
}

.heading--link:hover {
  border: 0.5px solid var(--red);
  color: var(--red);
  box-shadow: 0 10px 10px 0 var(--greyish);
}
