.header {
  position: relative;
  top: 0;
  padding: 20px;
}

#title-container {
  display: flex;
}

@keyframes logoRotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

#header--logo {
  width: 50px;
  animation-name: logoRotation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

#logo--container {
  width: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}

#header--title {
  vertical-align: middle;
  color: var(--black);
  font-size: 15px;
  padding-left: 5px;
}

.header--link-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 8px 0px;
  background-color: var(--grey);
}

.heading--bullet {
  list-style-type: none;
}

.heading--link {
  text-decoration: none;
  color: var(--black);
  border-radius: 4px;
  padding: 2px 4px;
}

.heading--link:hover {
  border: 0.5px solid var(--red);
  color: var(--red);
  box-shadow: 0 10px 10px 0 var(--greyish);
}
