:root {
  --blue: #050517;
  --turquoise: #508aa8;
  --black: black;
  --red: #ba1200;
  --yellow: #e3b23c;

  --greyish: #fffaed;
  --grey: #fffaed;
  --greyer: #fffaed;
  --greyest: #fffaed;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Taviraj Bold';
}

body {
  background-color: var(--white);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Barlow Light';
  src: url('/fonts/Barlow-Light.ttf') format(truetype);
}

@font-face {
  font-family: 'Taviraj Bold';
  src: url('/fonts/Taviraj/Taviraj-Bold.ttf') format(truetype);
}

@font-face {
  font-family: 'Taviraj Extra Light';
  src: url('/fonts/Taviraj/Taviraj-ExtraLight.ttf') format(truetype);
}

p,
div,
span,
a {
  font-family: 'Taviraj Extra Light';
  font-weight: 600;
  font-size: 1em;
}

@media only screen and (max-width: 500px) {
  .header--link-container {
    display: none;
  }
}
